{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": "off",
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "prefer-promise-reject-errors": "off",
    "guard-for-in": "off"
  },
  "extends": ["eslint:recommended", "google"]
}